[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.10.0"
pandas = "==1.4.1"
matplotlib = "==3.5.1"
numpy = "==1.22.2"

[dev-packages]

[requires]
python_version = "3.11"
